<div class="container">

  <div class="row">

    <div class="col-xs-12">

      <div class="page-header clearfix">
        <h1>Articles</h1>
        <div class="actions">
          <%= page_entries_info @articles %>
          <%= link_to 'New Article', new_article_path, class:"btn btn-primary" %>
        </div>
      </div>
      <hr>

      <p id="notice"><%= notice %></p>

      <%= render @articles %>
      <div class="text-xs-center">
        <%= will_paginate @articles, :class => 'digg_pagination', :style => 'display:inline-block' %>
        </div>

    </div>

</div>
