<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <p id="notice"><%= notice %></p>

        <h2><%= @article.title %></h2>
        <hr>
        <p>Total views: 30</p>
        <hr>

        <section>
          <%= @mdParser.render(@article.body).html_safe %>
        </section>
        <hr>

        <p class="text-xs-right">
          <%= link_to 'Edit', edit_article_path(@article), class:"btn btn-warning" %>
          &nbsp;
          <%= link_to 'Back', articles_path, class:"btn btn-info" %>
        </p>
    </div>
  </div>
</div>
