<!DOCTYPE html>
<html>
  <head>
    <title>My Markdown Blog - Coderschool</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-faded navbar-main">
          <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header">
            &#9776;
          </button>
          <div class="collapse navbar-toggleable-xs" id="navbar-header">
            <a class="navbar-brand" href="/">My Mardown Blog</a>
            <ul class="nav navbar-nav">
              <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item">
                <a class="nav-link" href="/articles">Articles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
            <%= form_tag("/articles", method: "get", class: "form-inline pull-xs-right", id: "search-form") do %>
              <%= text_field_tag 'query', params[:query],
                  placeholder: "Search article's title",
                  class: 'form-control' %>
              <%= button_tag("Search", class: "btn btn-outline-success") %>
            <% end %>
          </div>
        </nav>
    </div>

    <%= yield %>
  </body>
</html>
